<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.SleepItOff" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="27" />
	<!-- bluetooth access permissions start -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="com.microsoft.band.service.access.BIND_BAND_SERVICE" />
	<!-- bluetooth access permissions end -->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<application android:label="SleepItOff" android:icon="@mipmap/icon"></application>
</manifest>